body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF; /* Blue color */
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 1em;
}

form {
    margin-top: 1em;
}

form label {
    display: block;
    margin: 0.5em 0 0.2em;
}

form input, form select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

form button {
    background-color: #007BFF; /* Blue color */
    color: #fff;
    border: none;
    padding: 0.7em 1.5em;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3; /* Darker blue */
}
